nets/__pycache__/__init__.cpython-35.pyc
nets/__pycache__/network_init.cpython-35.pyc
nets/__pycache__/pose_partition_network.cpython-35.pyc
utils/__pycache__/__init__.cpython-35.pyc
utils/__pycache__/calc_mAP.cpython-35.pyc
utils/__pycache__/data_augmentation.cpython-35.pyc
utils/__pycache__/data_loader.cpython-35.pyc
utils/__pycache__/eval_util.cpython-35.pyc
utils/__pycache__/joint_transformation.cpython-35.pyc
utils/__pycache__/target_generation.cpython-35.pyc
utils/__pycache__/vis_utils.cpython-35.pyc
utils/__pycache__/__init__.cpython-37.pyc
utils/__pycache__/calc_mAP.cpython-37.pyc
utils/__pycache__/data_augmentation.cpython-37.pyc
utils/__pycache__/data_loader.cpython-37.pyc
utils/__pycache__/eval_util.cpython-37.pyc
utils/__pycache__/joint_transformation.cpython-37.pyc
utils/__pycache__/target_generation.cpython-37.pyc
utils/__pycache__/vis_utils.cpython-37.pyc
nets/__pycache__/__init__.cpython-37.pyc
nets/__pycache__/network_init.cpython-37.pyc
nets/__pycache__/pose_partition_network.cpython-37.pyc
exps/*
exps/preds/temp/predictions.mat
exps/preds/mat_results/pred_keypoints_mpii_multi.mat
exps/logs/ppn.log
dataset/mpi/images
